#start{
    padding: 40px;
    max-width: 1000px;
    margin: 40px auto;
    color: black;
    display: none;
}

#question1,
#question2,
#question3,
#question4,
#question5, 
#yourscore,
#highscoresbox{
    padding: 40px;
    max-width: 1000px;
    margin: 40px auto;
    color: black;
    display: none;
}

#scoresheader{
    margin: auto;
    background-color: tomato;
    color:black;
    font-weight: bolder;
    font-size: 45px;    
}

#scoresgo,
#quizback {
    color: black;
    background-color: rgb(255, 237, 71);    
    font-size: 30px;
    font-weight: 500;
    border: 0px;
}

#scores {
    font-size: 30px;
    color: black;  

}

#timer {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    background-color: tomato;
    color: black;
    margin: 30px auto;

}

.scoreinfo {
    margin: auto;
    padding: 45px;
    color: rgb(255, 237, 71);
    background-color: black;
    font-size: 30px;
    text-align: left;
}

#startBtn {
    background-color: tomato;
    font-size: 25px;
}

#words{
    font-size: 30px;
}

#main {
    width: 80%;
    max-width: 1000px;
    border: 2px gray solid;
    margin: 100px auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

#yourscore {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#button1,
#button2,
#button3,
#button4,
#button5 {
    background-color: tomato;
    font-size: 25px;
    font-weight: bold;
    margin: 30px auto;
}

#lose {
    margin-top: 200px;
    font-size: xx-large;
    text-align: center;
}

label {
    display: block;
    font-size: 30px;
}
        
input[type=radio] {
    width: 40px;
    margin-left: 20px;
    background-color: tomato;}

input[type=text] {
    width: 100%;
    font-size: 30px;
}
       
h2 {
    clear: both;
    padding-top: 20px;
    font-size: 35px;
}
